@import url('animations.css');

html {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    top: 50px;
    font-family: 'Lucida Console', monaco, monospace;
    margin: 0;
    padding: 0;
    background-position: center;
}

header, main, footer {
    z-index: 10000;
}

.row {
    margin: 0;
    padding: 0;
}

.content {
    background: gray;
    width: 95%;
    margin: 0 auto;
}

.spacer {
    height: 100vh;
}

.container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
}

.ball {
    position: fixed;
    top: 600px;
    left: 50vw;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: black;
    /*animation: floatUp 10s linear;
    animation-fill-mode: forwards;*/
    z-index: -1;
}