@import url('animations.css');

html {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    top: 50px;
    font-family: 'Lucida Console', monaco, monospace;
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(../Content/images/skybg.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(rgba(0,0,0,0.2)), color-stop(51%,rgba(35,45,125,1)), color-stop(65%,rgba(44,57,159,1)), color-stop(100%,rgba(195,209,255,1))), url(../Content/images/skybg.jpg);
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.2),rgba(35,45,125,1) 51%,rgba(44,57,159,1) 65%,rgba(195,209,255,1) 100%), url(../Content/images/skybg.jpg);
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.2), rgba(35,45,125,1) 51%, rgba(44,57,159,1) 65%, rgba(195,209,255,1) 100%), url(../Content/images/skybg.jpg);
    background-image: -o-linear-gradient(top, rgba(0,0,0,0.2),rgba(35,45,125,1) 51%,rgba(44,57,159,1) 65%,rgba(195,209,255,1) 100%), url(../Content/images/skybg.jpg);
    background-image: linear-gradient(top, rgba(0,0,0,0.2),rgba(35,45,125,1) 51%,rgba(44,57,159,1) 65%,rgba(195,209,255,1) 100%), url(../Content/images/skybg.jpg);
    background-size: 100% 60%;
}

header, main, footer {
    z-index: 10000;
}

#satellite {
    position: absolute;
    top: 2000px;
    right: 20px;
    width: 30vw;
    height: 30vw;
    background-image: url(../Content/images/satellite.png);
    background-size: contain;
    z-index: 10;
}

#grass {
    position: relative;
    left: 0;
    width: 770px;
    height: 161px;
    background-size: contain;
    background-image: url(../Content/images/ground.png);
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 40px 0 0 0;
    z-index: 10;
}

#grassfill {
    position: absolute;
    bottom: -1px;
    width: 100vw;
    height: 50px;
    content: "";
    background-image: url(../Content/images/groundfill.png);
    background-repeat: repeat-x;
    float: left;
    z-index: 10;
}

.cloud {
    width: 30vw;
    height: 20vw;
    background-image: url(../Content/images/cloud.png);
    background-size:contain;
    background-repeat: no-repeat;
    float: left;
}

.row {
    margin: 0;
    padding: 0;
}

.content {
    width: 60%;
    margin: 0 auto 0 20px;
    padding: 10px 40px;
    color: white;
    text-shadow: -2px 0 rgba(0,0,0,0.5), 0 2px rgba(0,0,0,0.5), 2px 0 rgba(0,0,0,0.5), 0 -2px rgba(0,0,0,0.5);
    font-size: 2.5vw;
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
}

.spacer {
    height: 100vh;
}

.container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
}

.ball {
    position: fixed;
    top: 600px;
    left: 50vw;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: black;
    /*animation: floatUp 10s linear;
    animation-fill-mode: forwards;*/
    z-index: -1;
}

@media (min-width: 770px) {
    .content {
        width: 50%;
        font-size: 2vw;
    }
}
